@import '_settings.scss';
@import '../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss';
@import '../bower_components/rickshaw/src/css/graph.scss';
@import '../bower_components/rickshaw/src/css/detail.scss';
@import 'powa_rickshaw.scss';
@import '../bower_components/bootstrap-daterangepicker/daterangepicker.scss';
@import 'powa_backgrid.scss';
@import '../bower_components/backgrid-filter/backgrid-filter.scss';
@import '../bower_components/backgrid-paginator/backgrid-paginator.scss';
@import '../libs/highlight/styles/solarized_dark.scss';

.navbar-brand {
    padding: 10px 15px;
}

ul.unstyled {
    list-style: none;
}

.alert-box {
    ul {
        list-style: none;
        li {
            color: $white;
        }
    }
}

pre {
    white-space: pre-wrap;

    code {
      background-color: $body-bg;
    }
}

footer {
  color: $white;
}


.panel {
  &.widget {
    padding: 1em;
    min-height: 200px;
    .content-widget {
        title {
        color: $powa-color;
        }
    }

  }
  .row.graph {
      padding-left: 3rem;
      padding-right: 1.5rem;
      .columns, .row {
          padding-left: 0;
          padding-right: 0;
          margin: 0;
      }
      .row {
          margin-bottom: 0.8em;
      }
      .graph_container {
          display: inline-block;
          margin: 0 0;
          height: 300px;
      }
      .graph_right_axis {
          right: 0;
      }

      .y_axis {
        overflow: visible;
      }
  }
}

.popover {
    max-width: none;
    pre {
        font-size: 0.7em;
    }
}

.heading select {
    text-transform: none;
}

.graph_visualisation {
    display: none
}

.backgrid-filter.form-search {
    margin-left: 0;
    margin-top: 0;
}

.has-tip {
    &, &:hover {
        border-bottom: 0;
    }
}

pre.sql {
    max-height: 400px;
    overflow: auto;
}

.breadcrumb .btn {
    padding-top: 0;
    padding-bottom: 0;
    border: 0;
}

#daterangepicker {
    padding: $breadcrumb-padding-vertical $breadcrumb-padding-horizontal;
    background-color: $breadcrumb-bg;
    border-radius: $border-radius-base;

    span {
        cursor: pointer;
    }
}

label {
    color: $white;
}

pre {
    padding: 0;
    border: 0;
    margin: 0;
    background-color: transparent;
}
