@use 'vuetify/settings' with (
  $color-pack: false,
  $button-text-transform: none,
  $button-text-letter-spacing: inherit,
  $card-background: rgb(var(--v-theme-background)),
  $table-background: rgb(var(--v-theme-background)),
  $progress-linear-background: rgb(var(--v-theme-primary)),
);
