@use 'vuetify/settings' with (
  // Globals
$font-size-root: 14px,
$input-font-size: 14px,

$spacer: 2px,

$typography: (
  // Apply to table headers, pagination
  'caption': (
    'size': 0.9rem,
  ),
  // Apply to data tables rows
  'subtitle-2': (
    'size': 0.9rem,
  )
),

);

.v-btn, .v-tab {
  text-transform:none !important;
}


$snackbar-font-size: 1rem;
$snackbar-content-font-size: 1rem;
